<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title | Youtude Clone
    body
        header
            h1 YouTube
        main
            block content
        footer
            span &copy; Youtube Clone