extends layouts/main

block content
    .form-container
        form(action=routes.join, method="post")
            input(type="text", name="name", placeholder="Full Name" required)
            input(type="email", name="email", placeholder="Email" required)
            input(type="password", name="password", palceholder="Password" required)
            input(type="password", name="password2", palceholder="Verify Password" required)
            input(type="submit", value="Join Now")
        include partials/socialLogin